@import "./partials/normalize";
@import "./partials/fonts";

$main-font: 15px "Arial", sans-serif;
$main-color: #606465;
//size
$container-width: 1180px;
a {
  color: #4e7cb3;
  text-decoration: none;
}
input {
  -webkit-appearance: none;
}
body {
  text-rendering: optimizeSpeed;
  font: $main-font;
  min-width: 320px;
  color: $main-color;
  background-color: #f2f3f7;
}
.container {
  max-width: $container-width;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.page {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.button {
  height: 43px;
  padding: 0 20px;
  background-color: #f98b21;
  transition: background-color 0.3s;
  color: #fff;
  border: 0;
  cursor: pointer;
  &:hover {
    background-color: #fa9738;
  }
}

@media all and(max-width: 1170px) {
}
@media all and(max-width: 992px) {
}
@media all and(max-width: 576px) {
}

@import "./partials/header";
@import "./partials/footer";
@import './partials/authorization';
@import './partials/banner';