.banner1 
  .banner1__container
    img(src="img/backgrounds/banner-bg.jpg", alt="").banner1__image
    .banner1__content
      span.banner1__title Подключен интернет Кварц?
      span.banner1__text Пакет услуг интернет и цифровое ТВ с максимальной выгодой!
      a(href="#").banner1__link подключить