.banner 
  .banner__container
    img(src="img/backgrounds/banner-bg.jpg", alt="").banner__image
    .banner__content
      span.banner__title Подключен интернет Кварц?
      span.banner__text Пакет услуг интернет и цифровое ТВ с максимальной выгодой!
      a(href="#").banner__link подключить