.desktop-nav
  ul.desktop-nav__list
    li.desktop-nav__item
      a(href="#").desktop-nav__link.desktop-nav__link_1 История платежей
    li.desktop-nav__item
      a(href="#").desktop-nav__link.desktop-nav__link_2 Поддержка
    li.desktop-nav__item
      a(href="#").desktop-nav__link.desktop-nav__link_3 Настройки