.footer
  .container
    .footer__container
      .footer__section
        ul.footer__list
          li.footer__item.footer__item_padding
            a(href="#").footer__link.footer__link_strong Акции
          li.footer__item
            a(href="#").footer__link.footer__link_strong Интернет+ТВ
          li.footer__item
            a(href="#").footer__link Интернет + Цифровое ТВ
          li.footer__item
            a(href="#").footer__link Интернет + IPTV
      .footer__section
        ul.footer__list
          li.footer__item.footer__item_padding
            a(href="#").footer__link.footer__link_strong Интернет
          li.footer__item
            a(href="#").footer__link.footer__link_strong Телевидение
          li.footer__item
            a(href="#").footer__link Цифровое ТВ
          li.footer__item
            a(href="#").footer__link IPTV
      .footer__section
        ul.footer__list
          li.footer__item
            a(href="#").footer__link Видеонаблюдение
          li.footer__item
            a(href="#").footer__link Интернет+ТВ для частного дома
          li.footer__item
            a(href="#").footer__link Услуги для бизнеса
          li.footer__item
            a(href="#").footer__link Оплата услуг
          li.footer__item
            a(href="#").footer__link Помощь
      .footer__section
        .footer__section-block
          span.footer__section-block-label Круглосуточная <br> служба поддержки
          ul.footer__list
            li.footer__item
              a(href="tel:84997058080").footer__link.footer__link_strong 8 (499) 705 80-80
            li.footer__item
              a(href="tel:88005554202").footer__link.footer__link_strong 8 (800) 555-4-202
            li.footer__item
              a(href="tel:84967555200").footer__link.footer__link_strong 8 (4967) 555-200
        .footer__section-block
          span.footer__section-block-title Центральный офис
          span.footer__section-block-label Режим работы
          p.footer__section-block-time с 9:00 до 20:00, пн. – сб.
          span.footer__section-block-label Наш адрес
          p.footer__section-block-adress 142100 г. Подольск<br> ул. Комсомольская д.59
