header.header
  .container
    .header__container
      a(href="#").header__page-link Личный кабинет
      .header__numbers
        span.header__numbers-ico
        button.header__numbers-button
        a(href="tel:").header__number <span>8 (499)</span> 705 80-80
        .header__numbers-dropdown
          a(href="tel:").header__number <span>8 (800)</span> 555-4-202 
          a(href="tel:").header__number <span>8 (4967)</span> 555-200
      a(href="").header__bell-link
