header.header
  .container
    .header__container
      a(href="#").header__page-link Личный кабинет
      .header__numbers
        span.header__numbers-ico
        button.header__numbers-button
        a(href="tel:84956425555").header__number 8 (495) 642-5555
      a(href="").header__bell-link
