.payment
  .payment__container.block__container
    h2.payment__title.block__title Доверительный платеж
    p.text Если ваш баланс близок к нулю, а возможности пополнить счет в данный момент нет, воспользуйтесь «Доверительным платежом». По вашему запросу мы временно пополним ваш счет — и вы сможете продолжить общение! Доверительный платеж предоставляется на срок до 3х календарных дней. Активация услуг произойдет в течении 5-10 минут после подключения.
    ul.payment__links-list
      li.payment__links-item
        span.payment__links-label Номер контракта 19579
        a(href="#").payment__links-link.button.button_style1 Подключить
      li.payment__links-item
        span.payment__links-label Номер контракта 19579
        a(href="#").payment__links-link.button.button_style1 Подключить
      li.payment__links-item
        span.payment__links-label Номер контракта 19579
        a(href="#").payment__links-link.button.button_style1 Подключить
    p.text Просим пополнить баланс в течении 3-х календарных дней для избежания повторного отключения Интернета!
    span.payment__list-title Условия подключения Доверительного платежа:
    ol.payment__list
      li.payment__item Предоставляется только абонентам, у которых баланс контракта положительный, но средств для полного списания абонентской платы не хватает.
      li.payment__item Предоставляется только абонентам, у которых отсутствуют просроченные доверительные платежи за последние 6 мес.
      li.payment__item Платеж выдается на сумму абон. платы за услуги контракта минус текущий баланс контракта плюс один рубль.
      li.payment__item Если оплата Доверительного платежа просрочена, затем абонент пополнил баланс и разблокировался в том же периоде, абонентская плата списывается за весь период.
      li.payment__item Платеж выдается на 3 суток.

