.personal-number
  .personal-number__container
    button.personal-number__button
    span.personal-number__item.personal-number__item_1 Л/сч: 19579
  .personal-number__dropdown-container
    span.personal-number__item.personal-number__item_2 Л/сч: 19579
    span.personal-number__item.personal-number__item_3 Л/сч: 19579
