.post-links
  .post-links__container
    ul.post-links__list
      li.post-links__item
        a(href="#").post-links__link Измерить скорость интернета
      li.post-links__item
        a(href="#").post-links__link Проблема с доступом в интернет